* {
    box-sizing: border-box;
}

/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* to remove the "dots" in the nav menu items*/
ul {
    list-style-type: none;
}


/* to remove the "dots" in the nav menu items*/
a {
    text-decoration: none;
    color: var(--primary-color);
}

/* to hover effect menu list changes color when hovering*/
a:hover {
    color: var(--secondary-color);
}

/* --Put navbar to fixed with the position property, so it remains at the top 
   --z-index property with the value of 1 
     makes sure the navbar displays over any other element on the web page 
   -- applied a shadow to the bottom of the navbar with the box-shadow property*/

nav {
    position: fixed;
    top: 40px;
    left: auto; 
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1.5rem;
}

.nav-link{
    font-size: 20px;
    margin: 35px;
    font-weight: bold;
}

.header{
    font-size: 20px;
    margin: 10px;
}
.gtmr{
    font-size: 20px;
    margin: 40px;
}


/* nav menu items to be side by side use Flexbox. */
nav h1 {
    color: white;
}

nav a {
    color: white;

}

nav a:hover {
    color: crimson;
    border-bottom: 2px solid crimson;
}

nav ul {
    display: flex;
    gap: 1.5rem;
}



body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-image: url("images/heroImage2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.image-container {
    position: relative;
    width: 300px;
    height: 375px;
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(0deg);
    transition: transform .7s;
}

.image-container span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
}

.image-container span img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-radius: 15px;
}

.btn-container {
    position: relative;
    width: 80%;
}

.btn {
    position: absolute;
    bottom: -100px;
    background: crimson;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

#prev {
    left: 20%;
}

#next {
    right: 20%;
}

.btn:hover {
    background-color: white;
    font-weight: 800;
    /* filter: brightness(2.5); */
    color: crimson;
    border-bottom: 2px solid crimson;
}



@media (min-width: 360px ) and (max-width: 768px) {
    .header {
        display: none !important;
    }

    .image-container{
        width:50%;
        height:50%;
        padding:10px;
    }
    .image-container span{
    width:50%;
    margin: 10px;
    padding: 10px;
    }
    .image-container {
        position: relative;
        width: 300px;
        height: 400px;
        transform-style: preserve-3d;
        transform: perspective(1000px) rotateY(0deg);
        transition: transform .7s;
    }

    .image-container span {
        position: absolute;
        top: 0;
        left: 0;
        width: 75%;
        transform: rotateY(calc(var(--i) * 45deg)) translateZ(300px);
    }

    .image-container span img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        border-radius: 15px;
    }

    .btn-container {
        position: relative;
        width:50%;
    }

    .btn {
        position: absolute;
        bottom: -150px;
        background: crimson;
        color: #fff;
        border: none;
        padding: 10px 22px;
        border-radius: 3px;
        cursor: pointer;
    }

    #prev {
        left: 5%;
    }

    #next {
        right: 5%;
    }

    .btn:hover {
        background-color: white;
        font-weight: 800;
        /* filter: brightness(2.5); */
        color: crimson;
        border-bottom: 2px solid crimson;
    }
}

       

